<div class="container">

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
      <h1>Driven</h1>
      <label for="emailOption">Email</label>
      <input type="email" id="Emailoption" class="form-control" name="email" required ngModel #emailControl="ngModel"
             minlength="5" maxlength="10" email>
      <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)" class="alert alert-danger">
        <div *ngIf="emailControl.errors.required">Email is required.</div>
        <div *ngIf="emailControl.errors.minlength">Must be at least 5 characters long</div>
        <div *ngIf="emailControl.errors.email">Incorrect email</div>
      </div>
      <label for="passOption">Password</label>
      <input type="password" id="passOption" class="form-control" name="password" required #passControl="ngModel"
             ngModel minlength="5" maxlength="10">
      <div *ngIf="passControl.invalid && (passControl.dirty || passControl.touched)" class="alert alert-danger">
        <div *ngIf="passControl.errors.required">Password is required.</div>
        <div *ngIf="passControl.errors.minlength">Must be at least 5 characters long</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
  </form>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <h1>Reactive</h1>

      <label>User name</label>
      <input type="text" class="form-control" formControlName="username">
      <div
        *ngIf="form.get('username').invalid && form.get('username').touched"
        class="validation"
      >
        <small *ngIf="form.get('username').errors.required">
          Name is required.
        </small>

        <small *ngIf="form.get('username').errors.minlength">
          Must be at least {{form.get('username').errors.minlength.requiredLength}} characters long.
          Number of characters {{form.get('username').errors.minlength.actualLength}}
        </small>

        <small *ngIf="form.get('username').errors.maxlength">
          Maximum length is 10
        </small>

      </div>

      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
      <div class="validation" *ngIf="form.get('password').invalid && form.get('password').touched">
        <small *ngIf="form.get('password').errors.required">
          Password is required.
        </small>

        <small *ngIf="form.get('password').errors.lettersAndNumberVal">
          Must contain numbers or letters
        </small>

      </div>

      <br>

      <div class="validation" formGroupName="emails">
        <label>Emails</label>
        <br>
        <button type="button" class="btn btn-info" (click)="addEmail()">Add email</button>

        <div class="" *ngFor="let control of form.get('emails')['controls']; let idx = index">

          <label class="email">Email {{idx + 1}}</label>
          <div class="emails emailSmallMes" >
            <input type="email" class="form-control emailInput" [formControlName]="idx">
            <button class="btn btn-warning bt-sm deleteEmail" (click)="deleteEmail(idx)">x</button>

            <div class="validation emailSmallMes" *ngIf="control.invalid && control.touched">
              <small *ngIf="control.errors.required" >
                Name is required!
              </small>
            </div>

          </div>

        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </form>


</div>

