h1 {
  text-align: center;
}

input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  &.ng-valid.ng-touched {
    border: 1px solid green;
  }
}

small {
  color: red;
}

.email{
  margin: 10px;
}

.deleteEmail{
  margin-left: 5px;
}

.emailBock{
  display: flex;

}

.emailInput{
  display: flex;
  width: 95%;
}

.emailSmallMes{
  display: flex;
  flex-wrap: wrap;
}
